body {
  box-sizing: border-box;
  background-image: url(../assets/images/jacquesCousteauSmall.jpeg);
}

h1 {
  color: blue;

}

.container{

  display: flex;
  width: 1000px;
}
.airTankContainer{
  border: 3px solid yellow;
  box-sizing: border-box;
  background-color: gainsboro;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}
.cellContainer {
  width: 800px;
  height: 700px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  background-image: radial-gradient(farthest-corner at 50% 0px,
     lightskyblue 0%, #003399 100%);
}

.cellContainer::-webkit-scrollbar {
display: none;
}


.airTank {
  width: 100%;
  height: 98%;
  background-color: lightblue;
  border-bottom-left-radius: 18px;
  border-bottom-Right-radius: 18px;
  transition: height 1s linear;
}

@keyframes warning {
  0%   { background-color: lightblue;}
  50% { background-color: red; }
  100%   { background-color: lightblue; }
}




.cell {
  height: 100px;
  width: 100px;
  background-color: ;
  border: 1px red solid;
  position: relative;
  box-sizing: border-box;
}

.sky{
  height: 250px;
  width: 100px;
  background-color: lightskyblue;
  position: relative;
}

.sky::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -25px;
  border-radius: 50%;
  /* border: 1px solid red; */
  background-color: lightskyblue;
  animation: wave 2s infinite;
  animation-timing-function: ease-in-out;
}
.sky::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -25px;
  border-radius: 50%;
  /* border: 1px solid green; */
  background-color: lightskyblue;
  left: -100%;
  animation: waveLeft 2s infinite ;
  animation-timing-function: ease-in-out;
}

@keyframes wave {
  0%   { left: 100%; }
  50%  {
    left: 0%;
  }
  100% { left: 100%; }
}

@keyframes waveLeft {
  0%   { left: 0%; }
  50%  {
    left: -100%;
  }
  100% { left: 0%; }
}

.mine {
  border-radius: 50%;
  position: relative;
  z-index: 3;
  animation: mineFlash 1s infinite;
  transition: box-shadow 0.3s;
}



@keyframes mineFlash {
  0%   { background-color: black; }
  30%   { background-color: black; }
  50% { background-color: red; }
  70%   { background-color: black; }
  100%   { background-color: black; }
}

.mineExploded {
  box-shadow: 0px 0px 300px 200px orange;
  background-color: white;
  border-radius: 50%;
}




.redFish {
  background-image: url(../assets/images/001-fish.svg);
  transform:scaleX(-1);
}
.redFishBackwards {
  background-image: url(../assets/images/001-fish.svg);

}

.greenFish {
  background-image: url(../assets/images/002-fish-1.svg);
}

.greenFishBackwards {
  background-image: url(../assets/images/002-fish-1.svg);
  transform:scaleX(-1);
}


.submarine {
    background-image: url(../assets/images/031-submarine-1.svg);

    position: relative;
}



.seafloor {
  background-color: brown;
  position: relative;
}


.seaweed1 {
  position: relative;
}

.seaweed1::after, .seaweed2::after, .seaweed3::after, .seaweed4::after{
  content: '';
  height: 100px;
  width: 100px;
  bottom: 100px;

  position: absolute;
  z-index: 5;
  background-image: url(../assets/images/007-seaweed.svg);
}



.seaweed2::after {
  background-image: url(../assets/images/008-seaweed-1.svg);
}
.seaweed3::after {
  background-image: url(../assets/images/013-seaweed-5.svg);
}
.seaweed4::after {
  background-image: url(../assets/images/010-seaweed-3.svg);
}

.seaweed5{
  background-image: url(../assets/images/010-seaweed-3.svg);
}

.seaweed6{
  background-image: url(../assets/images/hermit-crab.svg);
}

.movingLeft {
  transform:scaleX(-1);
}
