body {
  box-sizing: border-box;
  background-image: url(../assets/images/jacquesCousteauSmall.jpeg);
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: blue;

}

.container{

  display: flex;
  width: 1000px;
}
.airTankContainer{
  border: 3px solid #FFD41D;
  box-sizing: border-box;
  background-color: gainsboro;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 20px;
}
.cellContainer {
  width: 800px;
  height: 700px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  background-image: radial-gradient(farthest-corner at 50% 0px,
     lightskyblue 0%, #003399 100%);
  position: relative;
}

.cellContainer::-webkit-scrollbar {
  display: none;
}

.modelContainer{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white;
  opacity: 0.5; */
}

.model{
  position: absolute;
  background-color: #FFD41D;
  z-index: 10;
  padding: 20px;
  max-width: 60%;
  box-shadow:
    0px 0px 0px 10px lightblue,
    0px 0px 0px 20px lightskyblue,
    0px 0px 0px 30px #003399,
    0px 0px 60px 30px black;
}

h1 {
  font-family: 'Exo 2', sans-serif;
}

h2 {
  color: red;
  font-family: 'Exo 2', sans-serif;
}

button {
  color: red;
  font-family: 'Exo 2', sans-serif;
}



.airTank {
  width: 100%;
  height: 98%;
  background-color: lightblue;
  border-bottom-left-radius: 18px;
  border-bottom-Right-radius: 18px;
  transition: height 1s linear;
}

@keyframes warning {
  0%   { background-color: lightblue;}
  50% { background-color: red; }
  100%   { background-color: lightblue; }
}




.cell {
  height: 100px;
  width: 100px;
  background-color: ;
  /* border: 1px red solid; */
  position: relative;
  box-sizing: border-box;

}

.debob {
    /* animation: reverseBobbing 2s infinite; */
}

@keyframes bobbing {
	0% {
         margin-bottom:0px;
	}
    50% {
		 margin-bottom:10px;
	}

    100% {
		 margin-bottom:0px;
	}
}

@keyframes reverseBobbing {
	0% {
         margin-top:10px;
	}
    50% {
		 margin-top:0px;
	}

    100% {
		 margin-top:10px;
	}
}

.sky{
  height: 250px;
  width: 100px;
  background-color: lightskyblue;
  position: relative;
  animation: bobbing 2s infinite;
}

.sky::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -25px;
  border-radius: 50%;
  background-color: lightskyblue;
  animation: wave 4s infinite;
  animation-timing-function: ease-in-out;
}
.sky::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -25px;
  border-radius: 50%;
  /* border: 1px solid green; */
  background-color: lightskyblue;
  left: -100%;
  animation: waveLeft 4s infinite ;
  animation-timing-function: ease-in-out;
}

@keyframes wave {
  0%   { left: 100%; }
  50%  {
    left: 0%;
  }
  100% { left: 100%; }
}

@keyframes waveLeft {
  0%   { left: 0%; }
  50%  {
    left: -100%;
  }
  100% { left: 0%; }
}

.redFish {
  background-image: url(../assets/images/001-fish.svg);
  transform:scaleX(-1);
}
.redFishBackwards {
  background-image: url(../assets/images/001-fish.svg);

}

.greenFish {
  background-image: url(../assets/images/002-fish-1.svg);
}

.greenFishBackwards {
  background-image: url(../assets/images/002-fish-1.svg);
  transform:scaleX(-1);
}

.treasure {
  background-image: url(../assets/images/029-treasure.svg);
}
.turtle {
  background-image: url(../assets/images/019-turtle.svg);
}
.fish3 {
  background-image: url(../assets/images/024-fish-10.svg);
}

.fish4 {
  background-image: url(../assets/images/014-fish-6.svg);
  transform:scaleX(-1);
}

.octopus {
  background-image: url(../assets/images/017-octopus.svg);
}

.mine {
  border-radius: 50%;
  position: relative;
  z-index: 3;
  animation: mineFlash 1s infinite;
  transition: box-shadow 0.3s;
  background-image: url(../assets/images/icons8-naval-mine-100.png);
  transform:scaleX(1);
}



@keyframes mineFlash {
  0%   {
    background-color: ;
    box-shadow:;
  }
  30%   { background-color: ; }
  50% {
    background-color: red;
    box-shadow: 0px 0px 15px 10px red;
  }
  70%   { background-color: ; }
  100%   {
    background-color: ;
    box-shadow:;
  }
}

.mineExploded {
  box-shadow: 0px 0px 300px 200px #FFA91F;
  background-color: white;
  border-radius: 50%;
}





.submarine {
    background-image: url(../assets/images/031-submarine-1.svg);
    animation: divingRight 1s infinite;
    position: relative;
}




.diveRight{

}

.movingLeft {
  animation: divingLeft 1s infinite;

}


@keyframes divingRight {
	0% {
         transform:rotate(0deg);
	}
    50% {
         transform:rotate(3deg);
	}
    75% {
        transform:rotate(-2deg);
	}
    100% {
        transform:rotate(0deg);
	}
}

@keyframes divingLeft {

	0% {
         transform:rotate(0deg) scaleX(-1);
	}
    50% {
         transform:rotate(3deg) scaleX(-1);
	}
    75% {
        transform:rotate(-2deg) scaleX(-1);
	}
    100% {
        transform:rotate(0deg) scaleX(-1);
	}
}

.submarineFlash{

}

.shadow-pulse {

}

.submarineFlash::after{
  content: '';
  height: 50px;
  width: 80px;
  background-color: '';
  z-index: -5;
  position: absolute;
  border-radius: 50%;
  top: 40px;
  left: 15px;
  animation-name: shadowPulse;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0px 0px 300px 100px white;
        background-color: white;
    }

    100% {
        box-shadow: ;
        background-color: ;
    }
}









.seafloor {
  background-color: brown;
  position: relative;

}



.seaweed1 {
  position: relative;
}

.seaweed1::after, .seaweed2::after, .seaweed3::after, .seaweed4::after{
  content: '';
  height: 100px;
  width: 100px;
  bottom: 100px;

  position: absolute;
  z-index: 5;
  background-image: url(../assets/images/007-seaweed.svg);
}



.seaweed2::after {
  background-image: url(../assets/images/008-seaweed-1.svg);
}
.seaweed3::after {
  background-image: url(../assets/images/013-seaweed-5.svg);
}
.seaweed4::after {
  background-image: url(../assets/images/010-seaweed-3.svg);
}

.seaweed5{
  background-image: url(../assets/images/010-seaweed-3.svg);
}

.seaweed6{
  background-image: url(../assets/images/hermit-crab.svg);
}
